@model List<Course>
<div style="max-height: 700px; overflow-y: auto; margin-top: -6cm; margin-left: 0; width: 100%;">
    <table class="table table-striped" style="width: 100%;">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Degree</th>
            <th scope="col">MinDegree</th>
            <th scope="col">DepartmentName</th>
                <th><a href="/Course/NewCrs" class="btn btn-outline-info" style="width:75px;">New</a></th>
            <th></th>
            <th></th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var crs in Model)
        {
            <tr>
                <th scope="row">@crs.id</th>
                <td>@crs.name</td>
                <td>@crs.degree</td>
                <td>@crs.minDegree</td>
                <td>@crs.department.name</td>
                <td><a href="/Course/GetSpecificCourse/@crs.id" class="btn btn-outline-secondary">Details</a></td>
                <td><a href="/Course/UpdateCrs/@crs.id" class="btn btn-outline-info">Update</a></td>
                <td><a href="/Course/DeleteCrs/@crs.id" class="btn btn-outline-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
    </div>
